{% extends 'base.html' %}
{% block title %}Votuition workflow: step 2 - post json{% endblock %}

{% block content %}
<br />
<h1>2. Post JSON</h1>

	 <table border="1" cellspacing="0" cellpadding="10">
	    {% for field in form %}
	    	  <tr class="fieldWrapper">
	    	  		<td>{{ field.label_tag }}</td>
			        <td>{{ field }}</td>
			        {% if show_errors %}
			      	  {% if field.errors %}
			        			<td>{{ field.errors }}</td>
				        {% else %}
				        	<td>OK</td>
				        {% endif %}
			        {% else %}
			        	<td>{{ field.help_text }}</td>
			        {% endif %}
	        </tr>
	    {% endfor %}
    </table>
    
{% endblock %}
