{% extends 'base.html' %}
{% block title %}Votuition workflow: step 1 - gather data{% endblock %}

{% block content %}
<br />
<h1>1. Gather data</h1>
<br />
<form action="/debug/form/" method="post">{% csrf_token %}
	 <table border="1" cellspacing="0" cellpadding="10">
	    {% for field in form %}
	    	  <tr class="fieldWrapper">
	    	  		<td>{{ field.label_tag }}</td>
			        <td>{{ field }}</td>
			        {% if show_errors %}
			      	  {% if field.errors %}
			        			<td>{{ field.errors }}</td>
				        {% else %}
				        	<td>OK</td>
				        {% endif %}
			        {% else %}
			        	<td>{{ field.help_text }}</td>
			        {% endif %}
	        </tr>
	    {% endfor %}
    </table>
    <p><input type="submit" value="convert to JSON" /></p>
</form>

{% endblock %}
